<?xml version="1.0" encoding="UTF-8"?>
<server description="Reviews Server">

    <!-- Enable features -->
    <featureManager>
        <feature>microProfile-5.0</feature>
    </featureManager>

<!--    &lt;!&ndash; Accept token built with jwtFrontEndBuilder by jwtIssuer &ndash;&gt;-->
<!--    <mpJwt authFilterRef="mpJwtAuthFilter" id="jwtFrontEndBuilder" issuer="jwtIssuer"-->
<!--           jwksUri="http://frontend:9082/jwt/ibm/api/jwtFrontEndBuilder/jwk"/>-->

    <mpJwt  id="jwtFrontEndBuilder" issuer="jwtIssuer"
           jwksUri="http://frontend:9082/jwt/ibm/api/jwtFrontEndBuilder/jwk"/>

    <variable name="default.http.port" defaultValue="9083"/>
    <variable name="default.https.port" defaultValue="9443"/>

<!--    <authFilter id="mpJwtAuthFilter">-->
<!--        <requestUrl id="myRequestUrl" urlPattern="/review-app" matchType="equals"/>-->
<!--    </authFilter>-->

<!--    <mpMetrics authentication="false"/>-->

<!--    <quickStartSecurity userName="admin" userPassword="adminpwd"/>-->

    <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}"
                  id="defaultHttpEndpoint" host="*"/>

    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true"/>

    <!-- Configures the application on a specified context root -->
    <webApplication contextRoot="/review-app" location="review-app.war">
        <classloader apiTypeVisibility="+third-party"/>
    </webApplication>

    <!-- Default SSL configuration enables trust for default certificates from the Java runtime -->
    <ssl id="defaultSSLConfig" trustDefaultCerts="true"/>
</server>
